In [ ]:
import pandas as p
import requests as r
import json
from datetime import datetime
import os

CURRENT DATA -WEATHERAPI.COM

In [ ]:
api=os.environ['weather_api']
today=datetime.today().strftime('%Y-%M-%D')
url=f'http://api.weatherapi.com/v1/forecast.json?key={api}&q=chennai&dt={today}'
data=r.get(url)
data=data.json()

In [15]:
forcast = p.json_normalize(data['forecast']['forecastday'][0]['hour'], sep='.')
forcast.to_csv('forcast.csv', index=False)

astro = p.json_normalize(data['forecast']['forecastday'][0]['astro'], sep='.')
astro.to_csv('astro.csv', index=False)

HISTORY DATA -OPEN METEO

In [8]:

lat, lon = 13.0833, 80.2833

url = "https://archive-api.open-meteo.com/v1/era5"

params = {
    "latitude": lat,
    "longitude": lon,
    "start_date": "2015-01-01",  
    "end_date": "2025-09-13",
    "hourly": [
        "temperature_2m",
        "relative_humidity_2m",
        "dewpoint_2m",
        "apparent_temperature",
        "surface_pressure",
        "cloudcover",
        "windspeed_10m",
        "winddirection_10m",
        "precipitation",
        "weathercode"
        
    ],
    "timezone": "Asia/Kolkata"
}

resp = r.get(url, params=params)
data = resp.json()
df = p.DataFrame(data["hourly"])

In [9]:
df

,time,temperature_2m,relative_humidity_2m,dewpoint_2m,apparent_temperature,surface_pressure,cloudcover,windspeed_10m,winddirection_10m,precipitation,weathercode
0,2015-01-01T00:00,23.6,93,22.4,27.4,1007.8,22,9.2,21,0.0,1
1,2015-01-01T01:00,23.2,95,22.3,27.3,1007.3,33,7.0,12,0.0,1
2,2015-01-01T02:00,22.7,97,22.1,26.9,1006.8,45,5.1,352,0.0,1
3,2015-01-01T03:00,22.5,97,22.0,26.5,1007.0,34,5.8,338,0.0,1
4,2015-01-01T04:00,22.6,97,22.1,26.9,1006.7,35,4.6,321,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
93811,2025-09-13T19:00,28.9,80,25.0,35.2,1005.9,100,2.8,195,0.0,3
93812,2025-09-13T20:00,28.3,85,25.4,34.4,1006.1,100,6.2,192,0.0,3
93813,2025-09-13T21:00,28.0,87,25.7,34.5,1007.0,100,5.2,166,0.0,3
93814,2025-09-13T22:00,28.0,89,26.0,34.4,1007.3,100,7.0,159,0.0,3
93815,2025-09-13T23:00,28.2,89,26.1,34.6,1007.3,100,7.6,168,0.0,3

In [10]:
df.isnull().sum()

time                    0
temperature_2m          0
relative_humidity_2m    0
dewpoint_2m             0
apparent_temperature    0
surface_pressure        0
cloudcover              0
windspeed_10m           0
winddirection_10m       0
precipitation           0
weathercode             0
dtype: int64

In [11]:
df.to_csv('history-weather-data.csv',index=False)

In [12]:
data=p.read_csv('weather_code.csv')

In [13]:
final=p.merge(df,data,on='weathercode',how='inner')

In [14]:
final.drop(['weathercode'],inplace=True,axis=1)

In [15]:
final.isnull().sum()

time                    0
temperature_2m          0
relative_humidity_2m    0
dewpoint_2m             0
apparent_temperature    0
surface_pressure        0
cloudcover              0
windspeed_10m           0
winddirection_10m       0
precipitation           0
WEATHER_TYPE            0
dtype: int64

In [16]:
final.to_csv('final_weather_data.csv',index=False)

In [17]:
final.head(2)

,time,temperature_2m,relative_humidity_2m,dewpoint_2m,apparent_temperature,surface_pressure,cloudcover,windspeed_10m,winddirection_10m,precipitation,WEATHER_TYPE
0,2015-01-01T00:00,23.6,93,22.4,27.4,1007.8,22,9.2,21,0.0,Mainly clear
1,2015-01-01T01:00,23.2,95,22.3,27.3,1007.3,33,7.0,12,0.0,Mainly clear